:root {
  --primary-1: #faf0e6;
  --primary-1-darker: hsl(34, 56%, 91%);
  --primary-2: #fff0db;
  --primary-3: #eed9c4;
  --primary-4: #e4d5b7;
  --primary-5: #d9b99b;

  --google-font-1: "Courgette", cursive;
}

.hidden {
  display: none;
}

.row-bordered {
  position: relative;
}

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 2px solid #ccc;
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
}

.row-bordered-full {
  position: relative;
}

.row-bordered-full:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  left: 3px;
  right: 3px;
}

.left--arrow,
.right--arrow {
  color: black;
}

.left--arrow:hover,
.right--arrow:hover {
  cursor: pointer;
}

.sliderContainer {
  position: relative;
}

.projects--tile {
  transition: transform 0.7s ease;
}

.removeCardButton {
  position: absolute;
  top: 2%;
  right: 2%;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  z-index: 999;
}

.bookCard {
  cursor: pointer;
}

.bookMonth {
  max-width: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  background-color: var(--primary-1);
}

.navBar {
  color: white;
}

.navBar:hover {
  color: white !important;
}

.personalBooks {
  border: 1.5px solid black;
}

.subTitle {
  font-family: var(--google-font-1);
  font-size: 2.5rem;
}

.subTitleSm {
  font-family: var(--google-font-1);
  font-size: 1.5rem;
}

.active {
  color: white !important;
  text-decoration: underline;
}

.footerLogo:hover {
  cursor: pointer;
}

.editModal {
  cursor: pointer;
}

.image-container {
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.arrowContainer {
  padding: 0;
}

.sliderRow {
  width: 100%;
  overflow: hidden;
}

.indexButtons {
  background-color: var(--primary-2);
  border: 2px solid black;
  color: black;
  height: 8rem;
  width: 18rem;
  margin: 1rem;
  font-weight: 500;
  font-size: 3rem;
}

.indexButtons:hover {
  background-color: var(--primary-2);
  color: var(--primary-5);
}

.pageContainer {
  background-color: aqua;
}

.indexContainer {
  margin-top: 4rem !important;
}

.infoButton {
  position: absolute;
  bottom: 1%;
  left: 5%;
  font-weight: 500;
  font-size: 0.7rem;
  background-color: white;
  color: black;
  border: 1px solid black !important;
  border: none;
  z-index: 999;
}

.infoButtonSearch {
  position: absolute;
  bottom: 2%;
  left: 5%;
  font-weight: 500;
  font-size: 1rem;
  background-color: white;
  color: black;
  border: 1px solid black !important;
  border: none;
  z-index: 999;
}

.infoButtonSearch:hover {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .sliderContainer {
    overflow-x: hidden;
  }
}
