:root {
  --primary-1: #faf0e6;
  --primary-1-darker: hsl(34, 56%, 91%);
  --primary-2: #fff0db;
  --primary-3: #eed9c4;
  --primary-4: #e4d5b7;
  --primary-5: #d9b99b;

  --google-font-1: "Courgette", cursive;
}

.row-bordered {
  position: relative;
}

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 2px solid #ccc;
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
}

.row-bordered-full {
  position: relative;
}

.row-bordered-full:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  left: 3px;
  right: 3px;
}

.left--arrow,
.right--arrow {
  color: black;
}

.left--arrow:hover,
.right--arrow:hover {
  cursor: pointer;
}

.sliderContainer {
  position: relative;
}

.tileCards {
  max-height: 18rem;
}

.tileImg {
  max-height: 18rem;
}

.projects--tile {
  transition: transform 0.7s ease;
}

.removeCardButton {
  position: absolute;
  top: 2%;
  right: 2%;
  font-weight: 500;
  font-size: 1.2rem;
  /* color: white; */
  /* background-color: black; */
  background-color: transparent;
  border: none;
}

.bookCard {
  cursor: pointer;
}

.bookMonth {
  /* border: 2px solid black; */
}

body {
  background-color: var(--primary-1);
}

.navBar {
  /* background-color: var(--primary-1);
  border-bottom: 1px solid #ccc; */
  color: white;
}

.navBar:hover {
  color: white !important;
}

.personalBooks {
  border: 1.5px solid black;
}

.subTitle {
  font-family: var(--google-font-1);
  font-size: 2rem;
}

.subTitleSm {
  font-family: var(--google-font-1);
  font-size: 1.5rem;
}

.active {
  color: white !important;
  text-decoration: underline;
}

.footerLogo:hover {
  cursor: pointer;
}
