<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <!-- CSS  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&display=swap"
      rel="stylesheet"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="content-wrap d-flex flex-column min-vh-100">
      {% block navbar %}
      <nav class="navbar navbar-expand-md navBar bg-dark">
        <div class="container-fluid">
          <a
            class="navbar-brand navBar"
            href="{% if active_page == 'home' %}{{ url_for('render_home') }}{% elif active_page == 'reviews' %}{{ url_for('render_home') }}{% elif active_page == 'wish_list' %}{{ url_for('render_home') }}{% endif %}"
          >
            <img
              src="{{ url_for('static', filename='/img/book-svg-2.svg') }}"
              alt=""
            />
            Book Shelf
          </a>
          <button
            class="navbar-toggler ml-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <li class="nav-item navBar">
                <a
                  class="navBar nav-link {% if active_page == 'home' %}active{% endif %}"
                  aria-current="page"
                  href="{{ url_for('render_home') }}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="navBar nav-link {% if active_page == 'reviews' %}active{% endif %}"
                  href="{{ url_for('render_reviews') }}"
                  >Reviews</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="navBar nav-link {% if active_page == 'wish_list' %}active{% endif %}"
                  href="{{ url_for('wish_list') }}"
                  >Wish List</a
                >
              </li>
              <li class="nav-item">
                <a class="navBar nav-link" href="{{ url_for('logout') }}"
                  >Logout</a
                >
              </li>
              {% else %}
              <li class="nav-item">
                <a
                  class="nav-link navBar {% if active_page == 'sign_up' %}active{% endif %}"
                  href="{{ url_for('render_register') }}"
                  >Sign up</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link navBar {% if active_page == 'login' %}active{% endif %}"
                  aria-current="page"
                  href="{{ url_for('render_login') }}"
                  >Log in</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% endblock %}
      <div class="main-content">
        <h1
          id="pageTitle"
          class="pageTitle text-center row-bordered mb-4 mt-3 p-2 display-2"
        >
          {% block pagetitle %} {% endblock %}
        </h1>
        {% block content %} {% endblock %}
      </div>
    </div>
    <footer class="bg-dark py-2 mt-auto">
      <div class="container text-light text-center">
        {% block footer_link %}
        <a href="{{ url_for('render_home') }}">
          <img
            src="{{ url_for('static', filename='/img/book-svg-2.svg') }}"
            alt=""
          />
        </a>
        {% endblock %}
        <p class="display-5 mb-1">Book Shelf</p>
        <small class="text-white-50"
          >&copy; Copyright by Brandon O'Regan. All rights reserved</small
        >
      </div>
    </footer>
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
