<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Links to Bootstrap framework -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <!-- Link to CSS file  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <!-- Links the the Google fonts API -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&display=swap"
      rel="stylesheet"
    />
    <!-- Template for the tab title on each HTML page that extends base.html -->
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="content-wrap d-flex flex-column min-vh-100">
      {% block navbar %}
      <!--Template for all html page navbards that extend base.html-->
      <nav class="navbar navbar-expand-md navBar bg-dark">
        <div class="container-fluid">
          <!-- This anchor changes the page to be rendered depending on the value of the active page variable in the app.py -->
          <a
            class="navbar-brand navBar"
            href="{% if active_page == 'home' %}{{ url_for('render_home') }}{% elif active_page == 'reviews' %}{{ url_for('render_home') }}{% elif active_page == 'wish_list' %}{{ url_for('render_home') }}{% endif %}"
          >
            <!-- Renders imaage for the book shelf logo -->
            <img
              src="{{ url_for('static', filename='/img/book-svg-2.svg') }}"
              alt="Book Shelf Logo"
            />
            Book Shelf
          </a>
          <button
            class="navbar-toggler ml-auto bg-white"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav ml-auto">
              <!-- Each li is a tab in the nav bar -->
              {% if user.is_authenticated %}
              <!-- Loop displayes the nav bar tabs depending on the state of the current user athentication-->
              <li class="nav-item navBar">
                <a
                  class="navBar nav-link {% if active_page == 'home' %}active{% endif %}"
                  aria-current="page"
                  href="{{ url_for('render_home') }}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="navBar nav-link {% if active_page == 'reviews' %}active{% endif %}"
                  href="{{ url_for('render_reviews') }}"
                  >Reviews</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="navBar nav-link {% if active_page == 'wish_list' %}active{% endif %}"
                  href="{{ url_for('wish_list') }}"
                  >Wish List</a
                >
              </li>
              <li class="nav-item">
                <a class="navBar nav-link" href="{{ url_for('logout') }}"
                  >Logout</a
                >
              </li>
              {% else %}
              <!--If user is not authenticate only these tabs are displayed in the nav bar-->
              <li class="nav-item">
                <a
                  class="nav-link navBar {% if active_page == 'sign_up' %}active{% endif %}"
                  href="{{ url_for('render_register') }}"
                  >Sign up</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link navBar {% if active_page == 'login' %}active{% endif %}"
                  aria-current="page"
                  href="{{ url_for('render_login') }}"
                  >Log in</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% endblock %}
      <div class="main-content">
        {% block header %}
        <!--Template for all page headers that extend base.html-->
        <h1
          id="pageTitle"
          class="pageTitle text-center row-bordered mb-4 mt-3 p-2 display-2"
        >
          <!--This logic changes the title displayed in the header depending on the state of the variable active_page passes from app.py-->
          {% if active_page == 'home' %}Book Of The Month{% elif active_page ==
          'reviews' %}Personal Book Reviews {% elif active_page == 'login'
          %}Welcome Back!{% elif active_page == 'sign_up' %}Welcome to Book
          Shelf{% elif active_page == 'wish_list' %}Wish List{% else %}{% endif
          %}
        </h1>
        {% endblock %}
        <!-- This is the template that holds the main body content displayed in the files that extend base.html-->
        {% block content %} {% endblock %}
      </div>
    </div>
    <footer class="bg-dark py-2 mt-auto">
      <div class="container text-light text-center">
        <!-- Renders imaage for the book shelf logo -->
        <img
          src="{{ url_for('static', filename='/img/book-svg-2.svg') }}"
          alt="Book Shelf Logo"
          class="footerLogo"
        />
        <p class="display-5 mb-1">Book Shelf</p>
        <small class="text-white-50"
          >&copy; Copyright by Brandon O'Regan. All rights reserved</small
        >
      </div>
    </footer>
    <!-- GSAP - link to GSAP Javascript animation library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>

    <!-- Bootstrap JS framework link -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <!-- local JavaScript - link to local JavaScript script -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
