{% extends "base.html" %}

{% block title %}
Log in | Book Shelf
{% endblock %}

{% block navbar %}
<a class="navbar-brand" href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='/img/book-svg-2.svg') }}" alt="">
    Book Shelf
</a>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link"  href="{{ url_for('index') }}">Sign up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Log in</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<h1>login</h1>
{% endblock %}