{% extends "base.html" %}

{% block title %}
Reviews | Book Shelf
{% endblock %}

{% block navbar %}
<a class="navbar-brand" href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='/img/book-svg-2.svg') }}" alt="">
    Book Shelf
</a>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link"  href="{{ url_for('home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('reviews') }}">Reviews</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('wish_list') }}">Wish List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Sign out</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<h1 class="text-center">Personal Book Reviews</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/atomic-habits.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Review</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Modal popup</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/atomic-habits.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Review</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Modal popup</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/atomic-habits.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Review</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Modal popup</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/atomic-habits.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Review</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Modal popup</a>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}