{% extends "base.html" %}<!--Uses the base.html as a template -->
{% block title %} Reviews | Book Shelf {% endblock %} {% block navbar %} {{
super() }}
<!--This super function will inherit all the code within the block navbar in the base.html-->
{% endblock %} {% block header %} {{ super() }} {% endblock %}{% block content
%}
<div class="container d-flex justify-content-center mb-3">
  <div class="row">
    <div class="col col-12">
      <h5 class="text-center text-body-emphasis subTitleSm">
        There's nothing worse then reading a great book and forgetting
        everything you've just read. <br />
        Use this virtual library to store the books you've read and summarise
        the parts that mean the most to you.
      </h5>
    </div>
  </div>
</div>
<div class="container-fluid d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="input-group rounded">
        <!-- This form is associated with the search bar and activates the render_reviews functino located in the app.py when a search query is submitted -->
        <form
          method="GET"
          action="{{url_for('render_reviews')}}"
          id="reviewsSearchBar"
          name="query_form"
        >
          <div class="container d-flex w-100">
            <input
              name="query"
              type="search"
              class="form-control border-black"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
            />
            <button
              type="submit"
              for="reviewsSearchBar"
              class="btn btn-primary input-group-text border-black ms-1 bg-dark-subtle d-flex justify-content-center align-content-center"
              id="search-addon"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="black"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row sliderRow">
  <div
    class="col col-1 arrowContainer d-flex justify-content-end align-items-center"
  >
    {% if slider_showing %}
    <!--This if statement will display the slider arrow icons only if a search query has been made and some API results are displayed-->
    <a class="left--arrow p-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-arrow-left-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
        />
      </svg>
    </a>
    {% endif %}
  </div>
  <div class="col-md-10 col-12 sliderBody">
    <div class="container mb-5 sliderContainer">
      <div class="row d-flex flex-md-nowrap justify-content-start">
        <!-- Loop for API Search Query Results -->
        {% for book in book_limit %}
        <!--This loop will display each result of the API search query made and display them as cards -->
        <div class="projects--tile col-12 col-sm-6 col-md-3 h-100">
          <!-- This form will  call the reviews function in app.py with the query parameter 'f1' when the plus icon(submit button) is clicked -->
          <form
            action="{{url_for('reviews', f='f1')}}"
            method="POST"
            name="add_book_form"
          >
            <div
              class="card embed-responsive embed-responsive-16by9 h-100 mt-4 pt-3"
            >
              {% if book['volumeInfo']['imageLinks'] %}
              <!-- This if statement checks if a thumbnail is avaiable from the API. It is displayed if present if not, a standard local thumbnail is rendered instead -->
              <div
                class="image-container"
                style="background-image: url('{{ book['volumeInfo']['imageLinks']['thumbnail'] }}');"
              ></div>
              {% else %}
              <div
                class="image-container"
                style="background-image: url('{{ url_for('static', filename='img/no-image-available.jpg') }}');"
              ></div>
              {% endif %}
              <div class="card-body">
                <h5 class="card-title text-truncate">
                  {{ book['volumeInfo']['title'] }}
                  <!-- Display the title gather from the chosen API result-->
                </h5>
                <p class="card-text cardText text-truncate">
                  {% if book['volumeInfo']['subtitle'] %}{{
                  book['volumeInfo']['subtitle'] }}{% else %}No subtitle
                  available.{% endif %}
                  <!--Displays the subtitle from the chosen API result if available if not a default message is displayed-->
                </p>
              </div>
              <!-- This hidden input is used to extract the chosen API result thumbnail if avaible to app.py to be used as a variable -->
              <input
                type="hidden"
                name="bookThumbnail"
                value="{% if book['volumeInfo']['imageLinks'] %}{{ book['volumeInfo']['imageLinks']['thumbnail'] }}{% endif %}"
              />
              <!-- This hidden input is used to extract the chosen API result book title if avaible to app.py to be used as a variable -->
              <input
                type="hidden"
                name="bookTitle"
                id="bookTitleValue"
                value="{{ book['volumeInfo']['title'] }}"
              />
              <button
                href="{{ url_for('reviews') }}"
                type="submit"
                class="ms-auto mb-2 me-2 border-0 bg-light"
                id="sliderSubmitButton"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="bi bi-plus-square-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                  />
                </svg>
              </button>
              <div
                data-bs-toggle="modal"
                data-bs-target="#bookInformationModal{{ loop.index }}"
                class="btn btn-secondary infoButtonSearch"
              >
                More info
              </div>
            </div>
          </form>
        </div>
        <!-- API Search Query Modal -->
        <!-- Modal -->
        <div
          class="modal fade"
          id="bookInformationModal{{ loop.index }}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  {{ book['volumeInfo']['title'] }}
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <!-- This if statement is used to display the subtitle and description in the modal window if they are available -->
                {% if book['volumeInfo']['subtitle'] %} {{
                book['volumeInfo']['subtitle'] }} <br /><br />
                {{ book['volumeInfo']['description'] }} {% else %} {{
                book['volumeInfo']['description'] }} {% endif %}
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div
    class="col col-1 arrowContainer d-flex justify-content-flex-start align-items-center"
  >
    {% if slider_showing %}
    <!--This if statement will display the slider arrow icons only if a search query has been made and some API results are displayed-->
    <a class="right--arrow w-25">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-arrow-right-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
        />
      </svg>
    </a>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="display-4 row-bordered-full text-md-start text-center">
        My Books
      </h3>
    </div>
  </div>
  <div
    class="row container-fluid d-flex justify-content-center justify-content-md-start mb-4"
  >
    {% for book in my_books %}
    <!-- This loop will display and format each index of the my book list in a card template -->
    <div class="col-12 col-sm-6 col-md-3">
      <form
        action="{{ url_for('reviews', f='f2') }}"
        method="POST"
        name="remove_card_button"
        class="mb-4 mt-4"
      >
        <!-- This hidden input is used to extract the value of the book title and return it to the app.py file -->
        <input
          type="hidden"
          name="bookTitleRemove"
          id="bookTitleValueRemove"
          value="{{ book['Title'] }}"
        />
        <div class="card pt-3">
          <button type="submit" class="removeCardButton" id="removeCardButton">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="light-grey"
              class="bi bi-x-square-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
              />
            </svg>
          </button>
          {% if book['Image'] %}
          <!-- This if statement checks for an image in the entry of my_books and displays it if true, if not a default image is displayed -->
          <div
            class="image-container"
            style="background-image: url('{{ book['Image'] }}');"
          ></div>
          {% else %}
          <div
            class="image-container"
            style="background-image: url('{{ url_for('static', filename='img/no-image-available.jpg') }}');"
          ></div>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title text-truncate">{{ book['Title'] }}</h5>
            <p class="card-text cardText text-truncate">
              <!-- Dsiplays the the value of the thought key ifor the book in my_books if present if not displays some default text-->
              {% if book['Thoughts'] %}{{ book['Thoughts'] }}{% else %}Add some
              thoughts...{% endif %}
            </p>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pen editModal ms-auto mb-2 me-2"
            viewBox="0 0 16 16"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal{{ loop.index }}"
          >
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
            />
          </svg>
        </div>
      </form>
      <!-- Modal -->
      <form
        name="editModalForm"
        action="{{url_for('reviews', f='f3')}}"
        method="post"
      >
        <input
          type="hidden"
          name="bookTitleEdit"
          id="bookTitleValueEdit"
          value="{{ book['Title'] }}"
        />
        <div
          class="modal fade"
          id="exampleModal{{ loop.index }}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel{{ loop.index }}"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  {{ book['Title'] }}
                  <!--Displays the title of the index entry in my books list-->
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body text-truncate container-fluid">
                <textarea
                  name="new_thoughts"
                  id="newThoughts"
                  cols="28"
                  rows="5"
                  placeholder="Three things I don't want to forget:"
                  class="container-fluid"
                >
{% if book['Thoughts'] %}{{ book['Thoughts'] }}{% else %}Add some thoughts...{% endif %}<!-- Displays book index 'thoughts' value if present if not default text is displayed -->
              </textarea
                >
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  for="editModalForm"
                  type="submit"
                  class="btn btn-primary"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
