{% extends "base.html" %} {% block javascript %} {% endblock %} {% block title
%} Reviews | Book Shelf {% endblock %} {% block navbar %} {{ super() }}

<!-- <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link"  href="{{ url_for('home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('reviews') }}">Reviews</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('wish_list') }}">Wish List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Sign out</a>
    </li>
</ul> -->
{% endblock %} {% block pagetitle %} Personal Book Reviews {% endblock %} {%
block content %}
<div class="container d-flex justify-content-center mb-3">
  <div class="row">
    <div class="col col-12">
      <h5 class="text-center text-body-emphasis">
        There's nothing worse then reading a great book and forgetting
        everything you've just read. Use this virtual library to store the books
        you've read and summarise the parts that mean the most to you.
      </h5>
    </div>
  </div>
</div>
<div class="container-fluid d-flex justify-content-center mb-4">
  <div class="row">
    <div class="col col-12">
      <div class="input-group rounded">
        <form
          method="GET"
          action="{{url_for('reviews')}}"
          id="reviewsSearchBar"
        >
          <div class="container d-flex">
            <input
              name="query"
              type="search"
              class="form-control border-black"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
            />
            <button
              type="submit"
              for="reviewsSearchBar"
              class="btn btn-primary input-group-text border-black ms-1 bg-dark-subtle d-flex justify-content-center align-content-center"
              id="search-addon"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="black"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5 overflow-x-hidden sliderContainer">
  <div class="row d-flex flex-nowrap justify-content-start">
    {% if books_length > 0 %}
    <a class="left--arrow w-25">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-arrow-left-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
        />
      </svg>
    </a>
    <a class="right--arrow w-25">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-arrow-right-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
        />
      </svg>
    </a>
    {% endif %} {% for book in book_limit %}
    <div class="projects--tile col-3" style="transition: transform 0.7s ease">
      <div
        role="button"
        class="card bookCard embed-responsive embed-responsive-16by9"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        style=""
      >
        <img
          style="max-height: 18rem"
          src="{% if book['volumeInfo']['imageLinks'] %}{{ book['volumeInfo']['imageLinks']['thumbnail'] }}{% endif %}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ book['volumeInfo']['title'] }}</h5>
          <p class="card-text cardText text-truncate">
            {{ book['volumeInfo']['title'] }}
          </p>
        </div>
        <a href="{{ url_for('reviews') }}" class="ms-auto mb-2 me-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pen editModal"
            viewBox="0 0 16 16"
          >
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
            />
          </svg>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row d-flex float-start">
    {% for key, value in personal_reviews.items() %}
    <div class="col">
      <div
        class="card bookCard"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        style="width: 18rem"
      >
        <img
          src="{{ url_for('static', filename='img/atomic-habits.jpg') }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ key }}</h5>
          <p class="card-text cardText text-truncate">
            {{ value["Thoughts"] }}
          </p>
        </div>
        <a href="{{ url_for('reviews') }}" class="ms-auto mb-2 me-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pen editModal"
            viewBox="0 0 16 16"
          >
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
            />
          </svg>
        </a>
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Launch demo modal
                      </button> -->
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block scripts %}

<!-- JavaScript  -->
<script src="{{ url_for('static', filename='js/reviews.js') }}"></script>

{% endblock scripts %}
