<!-- PREVIOUS CODE -->
<!-- PREVIOUS CODE -->
<!-- PREVIOUS CODE -->
<!--{% block content %}
<div class="container">
  <div class="row g-4">
    <div class="col">
      <div class="card col-3" role="button" style="width: 18rem">
        <img
          src="{{ url_for('static', filename='img/changing-world.jpg') }}"
          class="card-img-top"
          alt="..."
        />
      </div>
    </div>
    <div class="col">
      <div class="card col-3" role="button" style="width: 18rem">
        <img
          src="{{ url_for('static', filename='img/breath.jpg') }}"
          class="card-img-top"
          alt="..."
        />
      </div>
    </div>
    <div class="col">
      <div class="card col-3" role="button" style="width: 18rem">
        <img
          src="{{ url_for('static', filename='img/sapiens.jpg') }}"
          class="card-img-top"
          alt="..."
        />
      </div>
    </div>
    <div class="col">
      <div class="card col-3" role="button" style="width: 18rem">
        <img
          src="{{ url_for('static', filename='img/atomic-habits.jpg') }}"
          class="card-img-top"
          alt="..."
        />
      </div>
    </div>
    <div class="col">
      <div class="card col-3" role="button" style="width: 18rem">
        <img
          src="{{ url_for('static', filename='img/atomic-habits.jpg') }}"
          class="card-img-top"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
{% endblock %} 
