{% extends "base.html" %} {% block title %} Home | Book Shelf {% endblock %} {%
block navbar %} {{ super() }} {% endblock %} {% block header %}{{ super() }} {%
endblock %} {% block content %}
<div class="container d-flex justify-content-center mb-3">
  <div class="row">
    <div class="col col-12">
      <h5 class="text-center text-body-emphasis subTitle">
        Search for books to add to your wish list.
      </h5>
    </div>
  </div>
</div>
<div class="container-fluid d-flex justify-content-center">
  <div class="row">
    <div class="col col-12">
      <div class="input-group rounded">
        <form
          method="GET"
          action="{{url_for('render_wish_list')}}"
          id="reviewsSearchBar"
          name="query_form"
        >
          <div class="container d-flex">
            <input
              name="query"
              type="search"
              class="form-control border-black"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
            />
            <button
              type="submit"
              for="reviewsSearchBar"
              class="btn btn-primary input-group-text border-black ms-1 bg-dark-subtle d-flex justify-content-center align-content-center"
              id="search-addon"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="black"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row sliderRow">
  <div
    class="col col-1 arrowContainer d-flex justify-content-end align-items-center"
  >
    {% if slider_showing %}
    <a class="left--arrow w-25">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-arrow-left-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
        />
      </svg>
    </a>
    {% endif %}
  </div>
  <div class="col-md-10 col-12 sliderBody">
    <div class="container mb-5 sliderContainer">
      <div class="row d-flex flex-md-nowrap justify-content-start">
        <!-- Loop for API Search Query Results -->
        <!-- Loop for API Search Query Results -->
        {% for book in book_limit %}
        <div class="projects--tile col-12 col-sm-6 col-md-3 h-100">
          <form
            action="{{url_for('wish_list', f='f1')}}"
            method="POST"
            name="add_book_form"
          >
            <div
              class="card bookCard embed-responsive embed-responsive-16by9 h-100 mt-4 cursor-pointer pt-3"
            >
              {% if book['volumeInfo']['imageLinks'] %}
              <div
                class="image-container"
                style="background-image: url('{{ book['volumeInfo']['imageLinks']['thumbnail'] }}');"
              ></div>
              {% else %}
              <div
                class="image-container"
                style="background-image: url('{{ url_for('static', filename='img/no-image-available.jpg') }}');"
              ></div>
              {% endif %}
              <!-- <img
                src="{% if book['volumeInfo']['imageLinks'] %}{{ book['volumeInfo']['imageLinks']['thumbnail'] }}{% else %}{{ url_for('static', filename='img/no-image-available.jpg') }}{% endif %}"
                class="card-img-top tileImg"
                alt="..."
              /> -->
              <div class="card-body">
                <h5 class="card-title text-truncate">
                  {{ book['volumeInfo']['title'] }}
                </h5>
                <p class="card-text cardText text-truncate">
                  {% if book['volumeInfo']['subtitle'] %}{{
                  book['volumeInfo']['subtitle'] }}{% else %}No subtitle
                  available.{% endif %}
                </p>
              </div>
              <!-- Hidden Inputs img-src & book title -->
              <input
                type="hidden"
                name="bookThumbnail"
                value="{% if book['volumeInfo']['imageLinks'] %}{{ book['volumeInfo']['imageLinks']['thumbnail'] }}{% endif %}"
              />
              <input
                type="hidden"
                name="bookTitle"
                id="bookTitleValue"
                value="{{ book['volumeInfo']['title'] }}"
              />
              <input
                type="hidden"
                name="bookDescription"
                id="bookDescription"
                value="{{ book['volumeInfo']['description'] }}"
              />
              <button
                href="{{ url_for('wish_list') }}"
                type="submit"
                class="ms-auto mb-2 me-2 border-0 bg-light"
                id="sliderSubmitButton"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="bi bi-plus-square-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                  />
                </svg>
              </button>
              <div
                data-bs-toggle="modal"
                data-bs-target="#bookInformationModal{{ loop.index }}"
                class="btn btn-secondary infoButtonSearch"
              >
                More info
              </div>
            </div>
          </form>
        </div>
        <!-- API Search Query Modal -->
        <!-- Modal -->
        <div
          class="modal fade"
          id="bookInformationModal{{ loop.index }}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  {{ book['volumeInfo']['title'] }}
                </h1>

                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                {% if book['volumeInfo']['subtitle'] %} {{
                book['volumeInfo']['subtitle'] }} <br /><br />
                {{ book['volumeInfo']['description'] }} {% else %} {{
                book['volumeInfo']['description'] }} {% endif %}
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div
    class="col col-1 arrowContainer d-flex justify-content-flex-start align-items-center"
  >
    {% if slider_showing %}
    <a class="right--arrow w-25">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-arrow-right-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
        />
      </svg>
    </a>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="display-4 row-bordered-full text-md-start text-center">
        My Wish List
      </h3>
    </div>
  </div>
  <div
    class="row container-fluidd-flex justify-content-center justify-content-md-start mb-4"
  >
    <!-- Loop for personal book shelf/wishlist -->
    <!-- Loop for personal book shelf/wishlist -->
    {% for book in my_wishlist %}
    <div class="col-12 col-sm-6 col-md-3">
      <form
        action="{{ url_for('wish_list', f='f2') }}"
        method="POST"
        name="remove_card_button"
        class="mb-4 mt-4"
      >
        <input
          type="hidden"
          name="bookTitleRemove"
          id="bookTitleValueRemove"
          value="{{ book['Title'] }}"
        />
        <div
          class="card bookCard pt-3 pb-3"
          data-bs-toggle="modal"
          data-bs-target="#wish_list_modal{{ loop.index }}"
        >
          <!-- <button type="submit" class="removeCardButton" id="removeCardButton">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="light-grey"
              class="bi bi-x-square-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
              />
            </svg>
          </button> -->
          {% if book['Image'] %}
          <div
            class="image-container"
            style="background-image: url('{{ book['Image'] }}');"
          ></div>
          {% else %}
          <div
            class="image-container"
            style="background-image: url('{{ url_for('static', filename='img/no-image-available.jpg') }}');"
          ></div>
          {% endif %}
          <!-- <img
            src="{% if book['Image'] %}{{ book['Image'] }}{% else %} {{ url_for( 'static', filename='img/no-image-available.jpg') }}{% endif %}"
            class="card-img-top tileImg personalBooks"
            alt="..."
          /> -->
        </div>
        <div
          class="modal fade"
          id="wish_list_modal{{ loop.index }}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  {{ book['Title'] }}
                </h1>

                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">{{ book['Description'] }}</div>
              <div class="modal-footer">
                <button
                  type="type"
                  class="btn btn-secondary me-auto"
                  data-bs-dismiss="modal"
                >
                  Remove Book
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
